@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Poppins', sans-serif;
    background-color: aquamarine;
}

.container{
    width: 70%;
    height:100%;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
@media(max-width:640px){
    .container{
        width: 100%;
    }
}
.current-player{
    margin-block: 1em;
    background-color: rgba(245, 245, 245, 0.703);
    padding: 0.75em 1.5em;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.063), -2px -2px 10px rgba(0, 0, 0, 0.085);
}

.box-container{
    margin-block: 1.2em;
    width: 90%;
    max-width: 20rem;
    background-color:rgba(245, 245, 245, 0.703);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    aspect-ratio: 1/1;
    padding: 1.5em;
    border-radius: 20px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2), -2px -2px 10px rgba(0, 0, 0, 0.2);
}
@media(max-width:640px){
    .box-container{
        width: 95%;
        margin-block: .8em;
    }
}

.box{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 3rem;
    /* border: 1px solid red; */
}
.box-1,.box-2,.box-4,.box-5{
    border-right: 2px solid rgb(138, 138, 138);
    border-bottom: 2px solid rgb(138, 138, 138);
}
.box-3,.box-6{
    border-bottom: 2px solid rgb(138, 138, 138);
}
.box-7,.box-8{
    border-right: 2px solid rgb(138, 138, 138);
}



.new-game.active{
    display: block;
  
}

.new-game{
    margin-block: 0.8em;
    background-color: rgba(245, 245, 245, 0.703);
    padding: 0.75em 1.5em;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.063), -2px -2px 10px rgba(0, 0, 0, 0.085);
    cursor: pointer;
    display: none;
}
.new-game:hover{
    background-color: rgba(245, 245, 245, 0.856);
    transform: scale(102%);
    transition: 0.2s ease-in-out;
}
@media(max-width:640px){
    .new-game{
        margin-block:0.5em;
    }
}

.red-border{
    border: 2px solid rgba(255, 0, 0, 0.801);
}

.winning-text{
    font-size: 1.4rem ;
    background-color: rgba(6, 173, 6, 0.556);
}
.draw-txt{
    font-size: 1.4rem ;
    background-color: rgba(255, 0, 0, 0.618);
    pointer-events: none;
}
@media(max-width:640px){
    .draw-txt{
        font-size: 1.1rem ;
    }
}
.winning{
    transition: 0.2s ease-in;
    background-color: rgba(6, 173, 6, 0.556);
    padding: 5px;
}



